<div class="wrapperSocialPanel">
    <p class="header">#underConstruction</p>
    <div class="comments">
        <div class="singleComment">
            <img src="../../assets/agent.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                  <span class="heroesNames">AgentSmith</span>
                  <span class="heroesSupplement">@010101010100</span>
                </div>
                <p>Hey, yo... Yes yo fancyGirl next to me. This is a bra what you have on your head ? :D :D :D :D :D
                </p>
            </div>
        </div>
        <div class="singleComment">
            <img src="../../assets/girl.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                    <span class="heroesNames">YourMother</span>
                    <span class="heroesSupplement">@UWishBro</span>
                  </div>
                <p>
                  Yes agent Smith, this is a bra... (phoneCall: "Ehm, Neo ? ... one of your monkeys is trying to be funny, can you do something with it? ty mate")  ...shocking manners
                </p>
            </div>
        </div>
        <div class="singleComment">
            <img src="../../assets/soda.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                    <span class="heroesNames">SodaCap</span>
                    <span class="heroesSupplement">@PinocchioIsNotAHumanAsWell</span>
                  </div>
                <p>... Bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly, bubbly...
                </p>
            </div>
        </div>       
    </div>
  </div>