<div class="wrapperSocialPanel">
  <ul class="socialIcons">
    <li><a href="https://www.facebook.com/pavel.franta.87" target="_black"><i class="fab fa-facebook-square fa-3x"></i></a></li>
    <li><a href="https://youtu.be/mb_7s5f6Ao0" target="_black"><i class="fab fa-youtube fa-3x"></i></a></li>
    <li><a href="mailto:1.pavel.franta@gmail.com" target="_black"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="adress">
    <li>Pavel Franta</li>
    <li>Kafendova 2</li>
    <li>Bratislava</li>
    <li>83106</li>
    <li>Slovakia</li>
  </ul>
</div>
