<div class="wrapperSocialPanel">
  <ul class="socialIcons">
    <li><a href="http://"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="http://"><i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="http://"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="adress">
    <li>Pavel Franta</li>
    <li>43 Foxton Road</li>
    <li>Grays</li>
    <li>RM204XX</li>
    <li>United Kingdom</li>
  </ul>
</div>