<div class="wrapperAbout">
    <ul>
        <li>Pavel Franta</li>
        <li>10/03/1987</li>
        <li>Citizen of Czechia</li>
        <li>Living in UK</li>
      </ul>
  <img src="../../assets/new5.png" alt="">
  <ul>
    <li>Programming</li>
    <li>Electric guitar</li>
    <li>Metal detecting</li>
    <li>GuildWars 2</li>
  </ul>
</div>
<p>
  " There is nothing exceptional about me :) I am a normal guy from a small town which is willing be with his computer after work and code his projects just for fun. "
</p>

<app-about-comments></app-about-comments>
