div.commentsWrapper{
  padding-top: 2rem;
  height: auto;
  width: 100%;
  background: #fff;
  font-size: 1.1rem;
  div.comments{
    padding: 3rem 1rem 0 1rem;
    max-width: 1600px;
    margin: auto;
  }
  p.header{
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 2.1rem;
  }
}
