<div class="wrapperSocialPanel">
    <p class="header">#Pavel'sProgrammingJourney</p>
    <div class="comments">
        <div class="singleComment">
            <img src="../../assets/tiger.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                  <span class="heroesNames">TheTiger</span>
                  <span class="heroesSupplement">@thePoohNeverDie</span>
                </div>
                <p>Pavel's journey started at 2015 with C#. Damn it was first sight love he said. Modern highLevel language with garbage collector, fully supported, further developed and the IDE ? No problem there :).
                </p>
            </div>
        </div>
        <div class="singleComment">
            <img src="../../assets/lion.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                    <span class="heroesNames">MrLion</span>
                    <span class="heroesSupplement">@SeriousGuy</span>
                  </div>
                <p>One year ago i said to him: "World is not only about your C#. The web is the future. If you like Microsoft technologies, so be it - ASP.NET could be your destiny and you can keep you C# but before you try to master it you should start code some easy web projects just for practise HTML / CSS / JS and others. You will not regret".
                </p>
            </div>
        </div>
        <div class="singleComment">
            <img src="../../assets/kitty.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                    <span class="heroesNames">Kitty</span>
                    <span class="heroesSupplement">@Rrrrrrrrrr</span>
                  </div>
                <p>... and as MrLion said Pavel does. This website is created for fun and maybe for you guys from HR department. Git repository is provided and you decide if it is enough or not. Meow :-*
                </p>
            </div>
        </div>       
    </div>
  </div>