<div class="wrapperKnowledge">
  <div class="singleKnowledge">
      <img src="../../../assets/html.png" alt="HTML | picture">
      <span>HTML</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../../assets/css.png" alt="CSS  | picture">
      <span>CSS</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../../assets/csharp.png" alt="C#  | picture">
      <span>C#</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../../assets/angular-typescript.png" alt="Angular + TS  | picture">
      <span>Angular</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../../assets/firebase.png" alt="Firebase  | picture">
      <span>Firebase</span>
  </div>
</div>
<p class="orange">
    Pavel is <span>NOT</span> agressive overlord of all technologies above, but he is capable to do this site, responsive,
    in Angular, without any hesitations almost in few days ( design and baloney included ). And if he wants, there could be
    much more JS effects and maybe some backend, translations, dbs, authorisations. Everything is only about time :)
</p>
<app-comments [model]="comments"></app-comments>
