<div class="statusWrapper">
<div class="questionAnswer">
    <p>Am I ready to relocate ?</p>
    <p>" Yes "</p>
</div>
<div class="questionAnswer">
    <p>What position am i looking for ?</p>
    <p>" Anything in development "</p>
</div>
<div class="questionAnswer">
    <p>What about my salary ?</p>
    <p>" My lowest limit is 21K p.a. "</p>
</div>
<div class="questionAnswer">
    <p>Are there any technologies what i like ?</p>
    <p>" Angular, C#, TypeScript "</p>
</div>
<div class="questionAnswer">
    <p>What platform do I prefer ?</p>
    <p>" Windows "</p>
</div>
<div class="questionAnswer">
    <p>When can i start my journey ?</p>
    <p>" One week after new agreement. "</p>
</div>
</div>
<p class="orange">
    " What i am looking for is experience in real situations, real company, real colleagues and real tasks. <span>REAL PROGRAMMER'S LIFE !</span> "
</p>
<app-question-comments></app-question-comments>