<div class="questionsWrapper">
<div class="questionAnswer">
    <p>Am I ready to relocate ?</p>
    <p>" Hell no! Bratislava is cool"</p>
</div>
<div class="questionAnswer">
    <p>What position am i looking for ?</p>
    <p>" Development in Angular or anything related BUT read LadyTurtle bellow"</p>
</div>
<div class="questionAnswer">
    <p>What about my salary ?</p>
    <p>" 1600 bruttal "</p>
</div>
<div class="questionAnswer">
    <p>Are there any technologies what i like ?</p>
    <p>" Angular, TypeScript, C# ( i am still not a hero of C# and EF :P) "</p>
</div>
<div class="questionAnswer">
    <p>What platform do I prefer ?</p>
    <p>" Windows "</p>
</div>
<div class="questionAnswer">
    <p>When can i start my journey ?</p>
    <p>" One week after new agreement. "</p>
</div>
  <div class="questionAnswer">
    <p>Is there anything what i really LOVE to have in my new job ?</p>
    <p>" Multisport card, sometimes HO, and team leader who is ok with my one hour Gym in lunch time"</p>
  </div>
  <div class="questionAnswer">
    <p>Is there anything what i really LOVE to offer in my new job ?</p>
    <p>"I will do my best, I will google my problems first, I will use my brain for your project and not for watching youtube or
      play games on toilet with my phone. I will be yours for 8 hours a day, sometimes maybe more. After work I will study what I
      need to another day if it is needed. This is my honest offer :)"</p>
  </div>
</div>
<p class="orange">
    " What i am looking for is experience in real situations, real company, real colleagues and real tasks. Real programmers life and
  <span>NEVER come back to a factory</span>"
</p>
<app-comments [model]="comments"></app-comments>
