<div class="wrapperSocialPanel">
  <p class="header">#WhatToExpectFromPavel?</p>
  <div class="comments">
      <div class="singleComment">
          <img src="../../assets/turtle.png" alt="" srcset="">
          <div class="singleCommentText">
              <div class="headerWrapper">
                <span class="heroesNames">LadyTurtle</span>
                <span class="heroesSupplement">@IHaveATimeMate</span>
              </div>
              <p>
                    Pavel is like me - patient and persistent. Step by step, day by day. Now he has a non-IT job and everything that he knows about programming he learned after work. If I imagine how fast progress it could be if he can do it as a main job and even study after job as he is used to. Wow, I am thrilled.</p>
          </div>
      </div>
      <div class="singleComment">
          <img src="../../assets/seahorse.png" alt="" srcset="">
          <div class="singleCommentText">
              <div class="headerWrapper">
                  <span class="heroesNames">SiiiHorse</span>
                  <span class="heroesSupplement">@canIseeATiger?</span>
                </div>
              <p>
                    I don't know why no one says it. Pavel has IT education in Czechia called Electronic PC systems (programming, data networks). After graduation, he decided not to study further in this traditional way and after few-years-pause he found out how powerful home-schooling is. Can he really become a junior programmer as a autodidact? We will Siii.
              </p>
          </div>
      </div>
      <div class="singleComment">
          <img src="../../assets/whitetiger.png" alt="" srcset="">
          <div class="singleCommentText">
              <div class="headerWrapper">
                  <span class="heroesNames">WhiteTiger</span>
                  <span class="heroesSupplement">@ShowMustGoOn</span>
                </div>
              <p>
                    Pavel's big advantage is: He wants to do it and he is willing to do the maximum for it. I know it because he simply does it for a long time. He is used to learning by himself, solve problems by himself. Now he feels that is the right time to do something more, he needs professionals which show him true programming world. Without them everything it is not as REAL as it could be.
              </p>
          </div>
      </div>       
  </div>
</div>