div.wrapperSocialPanel{
    height: auto;
    width: 100%;
    background: #fff;
    div.comments{
        padding: 2.5rem 0 0 0;
        display: flex;
        justify-content: space-between;
        max-width: 1600px;
        margin: auto;
        div.singleComment{
            display: flex;
            align-items: flex-start;
            img{
                width: 6rem;
            }
            span.heroesNames{
                font-size: 1.3rem;
                font-weight: 400;
            }
            span.heroesSupplement{
                font-size: 1rem;
                font-weight: 300;
                color: gray;
            }
            p{
                padding: 0 1rem;
            }
           
        }
    }
    p.header{
      margin: 0;
      padding: 1rem 0 0 0;
      text-align: center;
      font-size: 2.1rem;
    }
    ul{
        display: flex;
        list-style-type: none;
        border: 1px solid black;
        padding: 0;
        li{
           
            span.heroesNames{
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
  }