<div class="wrapperSocialPanel">
  <p class="header">#doesPavelStillLookForAProgrammingJob?</p>
  <div class="comments">
      <div class="singleComment">
          <img src="../../assets/superman.png" alt="" srcset="">
          <div class="singleCommentText">
              <div class="headerWrapper">
                <span class="heroesNames">Superman</span>
                <span class="heroesSupplement">@CryptoniteVendor</span>
              </div>
              <p>It is shocking but Pavel is still waiting      for his first
                  junior position which is weird because he knows how to add my photo here and change a color of any text on this site. Looooook !!!!
              </p>
          </div>
      </div>
      <div class="singleComment">
          <img src="../../assets/thor.png" alt="" srcset="">
          <div class="singleCommentText">
              <div class="headerWrapper">
                  <span class="heroesNames">Thor</span>
                  <span class="heroesSupplement">@IWearAsterixsHelm</span>
                </div>
              <p>There are many rumors about Pavel. I even heard his first language was .NET/C# which introduced him to OOP world of programming. So yes, he has complete understanding of C# basics. (WinForms)
              </p>
          </div>
      </div>
      <div class="singleComment">
          <img src="../../assets/hulk.png" alt="" srcset="">
          <div class="singleCommentText">
              <div class="headerWrapper">
                  <span class="heroesNames">Happy Hulk</span>
                  <span class="heroesSupplement">@PavelLikesMe</span>
                </div>
              <p>And because no one from HR would be impressed by plain HTML/CSS so this site is built with Angular, TypeScript, SCSS, Firebase, tons of tutorials and Pavel's enthusiasm.
              </p>
          </div>
      </div>       
  </div>
</div>