<div class="wrapperAbout">
    <ul>
        <li>Pavel Franta</li>
        <li>10/03/1987</li>
        <li>Citizen of Czechia</li>
        <li>Living in Bratislava</li>
      </ul>
  <img src="../../../assets/new5.png" alt="">
  <ul class="about-interests">
    <li>Programming</li>
    <li>Electric guitar</li>
    <li>Metal detecting</li>
    <li>Skateboarding</li>
  </ul>
</div>
<p class="orange">
  Hire me if you want to someone who is friendly, positive, grateful, willing to learn and wants to <span>SMASH</span> code for you.
</p>
<app-comments [model]="comments"></app-comments>
