div.wrapperAbout{
    display: flex;
    align-items: center;
  justify-content: space-between;
 img{
    background-image: url(../../../assets/new5.png);
    background-repeat: no-repeat;
    background-position: 50% -89%;
    background-size: 21.5rem auto;
    height: 35rem;
 }
 ul{
   list-style-type: none;
   font-size: 1.2rem;
   li{
       padding: 1rem;

   }
 }
 ul:nth-child(1){
     text-align: right;
     padding-right: 2.5rem;
 }
}
p{
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    background: orange;
}

@media screen and (max-width: 940px) {
  .about-interests-side {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  div.wrapperAbout {
    flex-direction: column-reverse;

    div.about-interests-main {
      text-align: center;
    }
  }
}
