<div class="wrapperKnowledge">
  <div class="singleKnowledge">
      <img src="../../assets/html.png" alt="" srcset="">
      <span>HTML</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../assets/css.png" alt="" srcset="">
      <span>CSS</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../assets/firebase.png" alt="" srcset="">
      <span>Firebase</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../assets/angular-typescript.png" alt="" srcset="">
      <span>Angular + TypeScript</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../assets/csharp.png" alt="" srcset="">
      <span>C#</span>
  </div>
</div>
<p>
    " Website is still under construction but in the end all of these technologies will be used
    or are used already. (.NET/C# as a part of ASP.NET) "
</p>
<app-knowledge-comments></app-knowledge-comments>