<div class="wrapperKnowledge">
  <div class="singleKnowledge">
      <img src="../../assets/html.png" alt="HTML | picture">
      <span>HTML</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../assets/css.png" alt="CSS  | picture">
      <span>CSS</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../assets/csharp.png" alt="C#  | picture">
      <span>C#</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../assets/angular-typescript.png" alt="Angular + TS  | picture">
      <span>Angular</span>
  </div>
  <div class="singleKnowledge">
      <img src="../../assets/firebase.png" alt="Firebase  | picture">
      <span>Firebase</span>
  </div>
</div>
<p class="orange">
    Website is still under construction (that cliché but what can i do if i just wanna show it right now ? :D) In the end all of these technologies will be used or are used already. I promise :)
</p>
<app-knowledge-comments></app-knowledge-comments>