<div class="wrapperHome">
        <app-thrilled-pavel></app-thrilled-pavel>
</div>
<p>
<span>I AM A PICKER IN A WAREHOUSE -</span> Hello guys, sorry for that :) My name is Pavel and my entire life I have to say something like this. Can I change it? I don't know, but I can do a site like this and maybe I can do that as a junior developer in your compani (did I write it correctly?) sorry for my English its under construction like my programming skill :)
</p>
<app-home-comments></app-home-comments>
