<div class="wrapperSocialPanel">
    <p class="header">#iSThereAnythingInterestingAboutPavel?</p>
    <div class="comments">
        <div class="singleComment">
            <img src="../../assets/hellboy.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                  <span class="heroesNames">HellBoy</span>
                  <span class="heroesSupplement">@ArmWrestlingChampion</span>
                </div>
                <p>I am not sure where exactly he was born but Chuck Norris his older* twin said he was born in a beautiful historical city in the south of Czechia called <a href="">Cesky Krumlov</a>.

                </p>
            </div>
        </div>
        <div class="singleComment">
            <img src="../../assets/logan.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                    <span class="heroesNames">Logan</span>
                    <span class="heroesSupplement">@ThisIsNotEyebrows</span>
                  </div>
                <p>Very important detail for everyone who wants to speak with Pavel in English: "He is not a rookie with English but he is not an expert at all, if you will speak simply, you won't have any problem." 
                </p>
            </div>
        </div>
        <div class="singleComment">
            <img src="../../assets/shadowcat.png" alt="" srcset="">
            <div class="singleCommentText">
                <div class="headerWrapper">
                    <span class="heroesNames">ShadowCat</span>
                    <span class="heroesSupplement">@FakeAccount</span>
                  </div>
                <p>Pavel is everything, but not egoistic, rude, arrogant. Maybe he is a little bit shy at the beginning, but he will get used to very quickly and became a very kind, entertaining guy.
                </p>
            </div>
        </div>       
    </div>
  </div>